<section class="alpha">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Patron Management</h1>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 pull-right">
            <button class="btn btn-block primary" ng-click="onRoute('add-patron')"><i class="glyphicon glyphicon-plus"></i></button>
        </div>
    </div>
    <div class="col-xs-12">&nbsp;</div>
    <fieldset class="col-xs-12 counter-widget">
        <legend>Patron Search</legend>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button class="btn primay btn-block">SEARCH</button>
        </div>
        <div class="col-xs-12">&nbsp;</div>
    </fieldset>
    <div class="col-xs-12">&nbsp;</div>
</section>
