<div class="main-section" ng-controller="DashboardCtrl as dCtrl">
    <ng-include src="currentPage"/>
</div>
<%- contentFor('title') %>Dashboard<%- contentFor('mainjs') %>dashboard<%- contentFor('articleID') %>dashboard<%- contentFor('appname') %>counterApp