<div class="main-section" ng-controller="GameCtrl as gCtrl">
    <section class="game-patron">
		<ng-include src="currentPage"/>
	</section>
</div>
<%- contentFor('title') %>Game<%- contentFor('mainjs') %>game<%- contentFor('articleID') %>game<%- contentFor('appname') %>counterApp