<div class="main-section" ng-controller="OrganizationCtrl as oCtrl">
    <ng-include src="currentPage"/>
</div>
<%- contentFor('title') %>Organization<%- contentFor('mainjs') %>organization<%- contentFor('articleID') %>organization<%- contentFor('appname') %>counterApp