<div class="main-section" ng-controller="PatronCtrl as pCtrl">
	<section class="counter-patron">
		<ng-include src="currentPage"/>
	</section>
</div>
<%- contentFor('title') %>Patron<%- contentFor('mainjs') %>patron<%- contentFor('articleID') %>patron<%- contentFor('appname') %>counterApp