<div class="main-section" ng-controller="ProfileCtrl as aCtrl">
    <ng-include src="currentPage"/>
</div>
<%- contentFor('title') %>My Account<%- contentFor('mainjs') %>account<%- contentFor('articleID') %>account<%- contentFor('appname') %>counterApp