<div class="main-section" ng-controller="ReportsCtrl as rCtrl">
    <section class="counter-reports">
        <div class="row">
            <h1 class="text-center">Reports</h1>
        </div>
        <div class="col-xs-12">&nbsp;</div>
        <fieldset class="col-xs-12 counter-widget">
            <legend>Report Select</legend>
            <div class="col-xs-12">&nbsp;</div>
            <div class="col-xs-12">&nbsp;</div>
            <div class="col-xs-12">&nbsp;</div>
            <div class="col-xs-4 col-sm-3 pull-right">
                <button class="btn primay btn-block" ng-click="onShowReport('default')">RUN</button>
            </div>
            <div class="col-xs-12">&nbsp;</div>
        </fieldset>
        <div class="row" ng-if="currentPage">
            <div class="col-xs-12">
                <button type="button" class="btn close quinary" ng-click="onClose()">&times;</button>
            </div>
        </div>
        <ng-include src="currentPage" />
        <div class="col-xs-12">&nbsp;</div>
    </section>
</div>
<%- contentFor('title') %>Reports<%- contentFor('mainjs') %>reports<%- contentFor('articleID') %>reports<%- contentFor('appname') %>counterApp